pkgbase = zlib-ng
pkgver = 2.1.9
pkgrel = 1
pkgdesc = zlib replacement library with optimizations
url = https://github.com/zlib-ng/zlib-ng
arch = x86_64
license = zlib
depends = glibc

pkgname = zlib-ng
