pkgbase = update-alternatives
	pkgdesc = Rust implementation of update-alternatives for managing alternative versions of commands
	pkgver = 0.6.0
	pkgrel = 2
	url = https://github.com/fthomys/update-alternatives
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	options = strip
	source = update-alternatives::git+https://github.com/fthomys/update-alternatives.git#commit=10fd49bb10b3f9315e158e60e8b27c4ae8db8463
	sha256sums = SKIP

pkgname = update-alternatives
