pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors
	pkgver = 9.3.1
	pkgrel = 1
	url = https://www.onlyoffice.com/
	arch = x86_64
	depends = curl
	depends = gtk3
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = libxss
	depends = nss
	depends = nspr
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	optdepends = gst-plugins-good: for better video playback support
	optdepends = gst-libav: for additional multimedia codecs
	optdepends = libpulse: for audio playback support
	optdepends = alsa-lib: for audio output via ALSA
	optdepends = otf-takao: for Japanese fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	optdepends = libreoffice: for OpenSymbol fonts
	provides = onlyoffice=9.3.1
	conflicts = onlyoffice
	source = onlyoffice-desktopeditors-x86_64-9.3.1.deb::https://github.com/ONLYOFFICE/DesktopEditors/releases/download/v9.3.1/onlyoffice-desktopeditors_amd64.deb
	source = onlyoffice.svg
	sha256sums = 2fdda24d2efe65528d0aabad0633d868f22f67cf1567f8df39e72cba24f6af24
	sha256sums = 0efe15ee5ae7c01fd5cb3198bc849371ebc12ce48e0e595118724b182c765ec6

pkgname = onlyoffice
