pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors
	pkgver = 9.4.0
	pkgrel = 1
	url = https://www.onlyoffice.com/
	arch = x86_64
	license = AGPL-3.0-only
	depends = curl
	depends = gtk3
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = libxss
	depends = nss
	depends = nspr
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	optdepends = gst-plugins-good: for better video playback support
	optdepends = gst-libav: for additional multimedia codecs
	optdepends = libpulse: for audio playback support
	optdepends = alsa-lib: for audio output via ALSA
	optdepends = otf-takao: for Japanese fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	optdepends = libreoffice: for OpenSymbol fonts
	provides = onlyoffice=9.4.0
	conflicts = onlyoffice
	noextract = onlyoffice-desktopeditors-x86_64-9.4.0.deb
	options = !strip
	options = !emptydirs
	source = onlyoffice-desktopeditors-x86_64-9.4.0.deb::https://github.com/ONLYOFFICE/DesktopEditors/releases/download/v9.4.0/onlyoffice-desktopeditors_amd64.deb
	source = onlyoffice.svg
	sha256sums = 4271434e81be42b1559fd989d24bf6d413482f278dc6a5e328202a4fc1a18649
	sha256sums = d58f63576207ab5fc5a12ee5fb22561ff9adc8d05a8fe94dd7954cbeb4e0bc56

pkgname = onlyoffice
