!.cargo/config.toml
!.ssh/config
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!CLAUDE.md
$RECYCLE.BIN/
*$py.class
**/*.bk
**/*.rs.bk
**/__pycache__/*
**/megalinter-reports/*
**/mutants.out*/
*-hst
*-prefix/
*.TAG
*.a
*.bak
*.bk
*.class
*.com
*.credentials
*.dSYM/
*.dll
*.ear
*.exe
*.jar
*.kate-swp
*.key
*.la
*.lck
*.lib
*.lo
*.lock
*.log
*.log.*
*.mdb
*.msi
*.mutants.out*/
*.nar
*.o
*.obj
*.old
*.ori
*.orig
*.password
*.pdb
*.pem
*.pid
*.pid.lock
*.pkg.tar
*.pkg.tar.*
*.py[cod]
*.rej
*.rlib
*.rmeta
*.rs.bk
*.secret
*.seed
*.sig
*.so
*.suo
*.tar
*.tar.*
*.tar.gz
*.test
*.tgz
*.tmp
*.user
*.war
*.xz
*.zip
*megalinter_file_names_cspell.txt
*swp.*
*~
.DS_Store
.LSOverride
.Trash-*
.Trashes
.android/
.babel.cache
.cache/
.cargo/
.config/gh/hosts.yml
.directory
.env
.env.*/
.eslintcache
.fuse_hidden*
.git/
.gitconfig.local
.github-personal-access-token
.gnupg/
.gradle-cache/
.gradle/
.idea/
.nfs*
.nix-gc-roots/
.npm/
.nv/ComputeCache/
.pytest_cache/
.ruff_cache/
.ssh/
.stylelintcache
.venv*/
.venv/
.vscode/
.vscode/*
.yadm/archive
.yadm/encrypt
.yadm/files.gpg
.yadm/repo.git/
.~lock.*
/local.mozconfig
/mozconfig
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Cargo.lock
Desktop.ini
Testing
Thumbs.db
__pycache__/
_deps
apikeys.txt
artifacts/
bin/
build/
build/configs/mozconfig
cmake_install.cmake
compile_commands.json
composer.lock
debug/
dist/
ehthumbs.db
false.*
github-step-summary.md
github_conf
glibc/glibc
go/
hs_err_pid*
id_dsa
id_ecdsa
id_ed25519
id_rsa
id_rsa.pub
install_manifest.txt
linux-*
linux/
log/
logs/
mega-linter.report
megalinter-reports/
mozilla-release
mozilla-unified
node_modules/
nohup.out
npm-debug.log*
obj/
out/
pids
pkg/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
src/
target/
vendor/
venv/
