**/*.rs.bk
**/mutants.out*/
*-prefix/
*.bak
*.deb
*.exe
*.gho
*.jar
*.log
*.log.*
*.msi
*.ori
*.orig
*.pdb
*.rej
*.sig
*.tar
*.tar.*
*.tgz
*.tmp
*.zip
*/.git
*~
.Trash-*
.directory
.fuse_hidden*
.nfs*
.ninja_deps
.ninja_log
.vscode/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Cargo.lock
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
debug
glibc/glibc
install_manifest.txt
linux-*
linux/
nohup.out
pkg/
src/
target
__pycache__/
*.py[cod]
*$py.class
*.so
*.zip
*.xz
mozilla-unified
pkg
src
readme.md
**/__pycache__/*
venv
.cache
mozilla-release
artifacts
node_modules
logs
.DS_Store
build/configs/mozconfig
/mozconfig
/local.mozconfig
sb-gapi.data
gls-gapi.data
