[core]
  compression = 9
  multiPackIndex = true
  fsyncMethod = batch
  preferSymlinkRefs = true
	symlinks = true
	sparseCheckout = true
[push]
	recurseSubmodules = on-demand
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
	fsckobjects = true
	recurseSubmodules = true
	negotiationAlgorithm = skipping
[pack]
	allowPackReuse = true
	useBitmaps = true
	writeBitmapHashCache = true
	compression = 9
[rebase]
	autoSquash = true
[gc]
	packRefs = true
	aggressive = true
[index]
	version = 4
	skipHash = true
[http]
	version = HTTP/2
[protocol]
  version = 2
[protocol "file"]
	allow = always
[maintenance]
  strategy = incremental
[maintenance "prefetch"]
  enabled = true
[maintenance "gc"]
  enabled = true
[maintenance "loose-objects"]
  enabled = true
[maintenance "incremental-repack"]
  enabled = true
[maintenance "pack-refs"]
  enabled = true
[maintenance "reflog-expire"]
  enabled = true
[maintenance "rerere-gc"]
  enabled = true
[maintenance "worktree-prune"]
  enabled = true
