pkgbase = gemini-cli
pkgver = 0.39.0
pkgrel = 1
pkgdesc = An open-source AI agent that brings the power of Gemini directly into your terminal. Nightly auto-update version.
url = https://github.com/google-gemini/gemini-cli
arch = x86_64
license = (Apache-2.0)
depends = (nodejs)
makedepends = (bun npm)
noextract = (gemini-cli-0.39.0.tgz)
source = https://registry.npmjs.org/@google/gemini-cli/-/gemini-cli-0.39.0.tgz
sha256sums = (8b0093325fd6a316fa273b2a7b9c98ff0d714b0560ae1fd48363b003c993d0c8)

pkgname = gemini-cli-autoup