pkgbase = gemini-cli-autoup
	pkgdesc = An open-source AI agent that brings the power of Gemini directly into your terminal. Nightly auto-update version.
	pkgver = 0.47.0
	pkgrel = 1
	url = https://github.com/google-gemini/gemini-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = bun
	makedepends = npm
	depends = nodejs
	conflicts = gemini-cli
	noextract = gemini-cli-0.47.0.tgz
	source = https://registry.npmjs.org/@google/gemini-cli/-/gemini-cli-0.47.0.tgz
	sha256sums = c97121a2f89f538e6bd594be94d7562f648cd63ff0257c02ae7e4d988a483267

pkgname = gemini-cli-autoup
