pkgbase = gemini-cli-autoup
	pkgdesc = An open-source AI agent that brings the power of Gemini directly into your terminal. Nightly auto-update version.
	pkgver = 0.35.1
	pkgrel = 1
	url = https://github.com/google-gemini/gemini-cli
	license = Apache-2.0
	arch = x86_64
	conflicts = gemini-cli
	depends = nodejs
	makedepends = bun
	makedepends = npm
	noextract = gemini-cli-0.35.1.tgz
	source = https://registry.npmjs.org/@google/gemini-cli/-/gemini-cli-0.35.1.tgz
	sha256sums = 30fde80127c6af4a08c81b7107968cd0675bba2861c6972d980bb2194a767386

pkgname = gemini-cli-autoup
