pkgbase = preload-ng
	pkgdesc = An adaptive readahead daemon that prefetches files to reduce application startup times on Linux systems.
	pkgver = 0.6.7
	pkgrel = 1
	url = https://github.com/miguel-b-p/preload-ng
	arch = i686
	arch = x86_64
	arch = arm
	arch = aarch64
	license = GPL2
	makedepends = git
	makedepends = base-devel
	makedepends = pkgconfig
	makedepends = sh
	depends = glib2
	source = preload-ng::git+https://github.com/miguel-b-p/preload-ng.git#tag=v0.6.7
	sha256sums = SKIP

pkgname = preload-ng
