pkgbase = visual-studio-code
pkgver = 1.117.0
pkgrel = 1
pkgdesc = Code editing. Rebranded.
url = https://code.visualstudio.com/
arch = x86_64
license = MIT
depends = libx11
depends += libxkbfile
depends += libsecret
depends += ripgrep
makedepends = npm
makedepends = nodejs

pkgname = code