pkgbase = code
	pkgdesc = The Open Source build of Visual Studio Code (vscode) editor
	pkgver = 1.114.0
	pkgrel = 1
	arch = x86_64
	arch = aarch64
	arch = armv7h
	url = https://github.com/microsoft/vscode
	license = MIT
	depends = electron39
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = ripgrep
	optdepends = bash-completion: Bash completions
	optdepends = zsh-completions: ZSH completions
	optdepends = x11-ssh-askpass: SSH authentication
	makedepends = git
	makedepends = nodejs-lts-jod
	makedepends = npm
	makedepends = python
	makedepends = desktop-file-utils
	makedepends = zip
	makedepends = jq
	provides = vscode
	provides = vscodium
	provides = codium
	provides = vscodium-electron
	conflicts = vscode
	conflicts = vscodium
	conflicts = codium
	conflicts = vscodium-bin
	conflicts = vscodium-git
	conflicts = vscodium-electron

pkgname = code
	depends = electron39
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = ripgrep
	provides = vscode
	provides = vscodium
	provides = codium
	provides = vscodium-electron
	conflicts = vscode
	conflicts = vscodium
	conflicts = codium
	conflicts = vscodium-bin
	conflicts = vscodium-git
	conflicts = vscodium-electron
