# NOTE: .SRCINFO must be regenerated using: makepkg --printsrcinfo > .SRCINFO
# This is a template - actual values depend on customization.cfg settings
pkgbase = mesa-git
	pkgver = 0
	pkgrel = 1
	url = https://www.mesa3d.org
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = python-mako
	makedepends = python-ply
	makedepends = xorgproto
	makedepends = libxml2
	makedepends = libx11
	makedepends = libvdpau
	makedepends = libva
	makedepends = elfutils
	makedepends = libomxil-bellagio
	makedepends = libxrandr
	makedepends = libdisplay-info
	makedepends = ocl-icd
	makedepends = libgcrypt
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = meson
	makedepends = ninja
	makedepends = libdrm
	makedepends = xorgproto
	makedepends = libdrm
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = libxdamage
	makedepends = libclc
	makedepends = libglvnd
	makedepends = libunwind
	makedepends = lm_sensors
	makedepends = libxrandr
	makedepends = valgrind
	makedepends = glslang
	makedepends = byacc
	makedepends = wget
	makedepends = flex
	makedepends = bison
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = spirv-llvm-translator
	makedepends = cbindgen
	makedepends = python-packaging
	makedepends = python-yaml
	depends = libdrm
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libomxil-bellagio
	depends = libunwind
	depends = libglvnd
	depends = wayland
	depends = lm_sensors
	depends = libclc
	depends = glslang
	depends = zstd
	depends = vulkan-icd-loader
	depends = libdisplay-info
	optdepends = opengl-man-pages: for the OpenGL API man pages
	source = mesa::git+https://gitlab.freedesktop.org/mesa/mesa.git
	source = LICENSE
	source = llvm32.native
	md5sums = SKIP
	md5sums = 5c65a0fe315dd347e09b1f2826a1df5a
	md5sums = 722c7b0a4f7ace13d9009996615da938
	sha512sums = SKIP
	sha512sums = 25da77914dded10c1f432ebcbf29941124138824ceecaf1367b3deedafaecabc082d463abcfa3d15abff59f177491472b505bcb5ba0c4a51bb6b93b4721a23c2
	sha512sums = 46874ef82f9794cfd4955ec1aa953b1a14848bfcf4019018e1932469cfc32ee7844d87dd5a798f6e0fca913ed95b1d6cc05b2d508d1c56d5122e37a872f237b3

pkgname = mesa-git
	pkgdesc = an open-source implementation of the OpenGL specification, git version
	provides = mesa
	provides = vulkan-intel
	provides = vulkan-radeon
	provides = vulkan-nouveau
	provides = vulkan-mesa-layers
	provides = mesa-vulkan-layers
	provides = vulkan-mesa-implicit-layers
	provides = libva-mesa-driver
	provides = mesa-vdpau
	provides = vulkan-driver
	provides = opencl-mesa
	provides = opengl-driver
	provides = opencl-driver
	provides = ati-dri
	provides = intel-dri
	provides = nouveau-dri
	provides = svga-dri
	provides = mesa-dri
	provides = mesa-libgl
	provides = vulkan-mesa-device-select
	provides = vulkan-swrast
	conflicts = mesa
	conflicts = opencl-mesa
	conflicts = vulkan-intel
	conflicts = vulkan-radeon
	conflicts = vulkan-nouveau
	conflicts = vulkan-mesa-device-select
	conflicts = vulkan-mesa-layers
	conflicts = mesa-vulkan-layers
	conflicts = vulkan-mesa-implicit-layers
	conflicts = libva-mesa-driver
	conflicts = mesa-vdpau
	conflicts = vulkan-swrast
	depends = libdrm
	depends = wayland
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libomxil-bellagio
	depends = libunwind
	depends = lm_sensors
	depends = libglvnd
	depends = expat
	depends = libclc
	depends = libx11
	depends = spirv-tools
