pkgbase = watchman
pkgver = 2026.04.20.00
pkgrel = 1
pkgdesc = Watches files and records, or triggers actions, when they change (optimized)
url = https://github.com/facebook/watchman
arch = x86_64
license = (MIT)
depends = (boost-libs edencommon fb303 fbthrift fmt folly gcc-libs glibc google-glog libunwind openssl pcre2 python)
makedepends = (boost cmake cpptoml fizz gtest mvfst python-setuptools rust)
source = watchman-2026.04.20.00.tar.gz
sha256sums = (ef2186cd4391baf4f865011fae3942c3376a79a6558c38c1255731067d983143)