pkgbase = watchman
pkgver = 2026.04.13.00
pkgrel = 1
pkgdesc = Watches files and records, or triggers actions, when they change (optimized)
url = https://github.com/facebook/watchman
arch = x86_64
license = (MIT)
depends = (boost-libs edencommon fb303 fbthrift fmt folly gcc-libs glibc google-glog libunwind openssl pcre2 python)
makedepends = (boost cmake cpptoml fizz gtest mvfst python-setuptools rust)
source = watchman-2026.04.13.00.tar.gz
sha256sums = (5df033f2ed016455e28f45a9fa97c6d2d04201f216e3da97cd17e7f2058f3c8a)