pkgbase = rare
	pkgdesc = Open source alternative for Epic Games Launcher, using Legendary
	pkgver = 1.12.0.116
	pkgrel = 1
	url = https://github.com/RareDevs/Rare
	arch = any
	depends = clang
	depends = lld
	depends = patchelf
	depends = pyside6
	makedepends = git
	optdepends = wine: run Windows games
	optdepends = proton: run Windows games
	provides = proton
	conflicts = onlyoffice
	source = git+https://github.com/RareDevs/Rare.git#tag=1.12.0.116
	source = rare.sh
	sha256sums = f2b7d62ffc677203681cbe5e58d9d069d7671c57cd138f3048e8b3c28f0724a6
	sha256sums = SKIP

pkgname = rare
