pkgbase = smartdns-rs
	pkgdesc = A cross-platform local DNS server written in Rust that returns the fastest IP address
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/mokeyish/smartdns-rs
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	provides = smartdns
	conflicts = smartdns
	options = strip
	source = smartdns-rs-0.13.0.tar.gz::https://github.com/mokeyish/smartdns-rs/archive/refs/tags/v0.13.0.tar.gz
	sha256sums = 4ffd4021d751dcdd572df9dffd2f2b554c12192baa9cdb93a604bace53644bb4

pkgname = smartdns-rs
