pkgbase = firefox-custom
	pkgdesc = Firefox with aggressive optimizations, VA-API, PGO, and all performance tweaks
	pkgver = 149.0
	pkgrel = 1
	url = https://mozilla.org/firefox
	license = MPL-2.0
	arch = x86_64
	options = !strip
	options = !emptydirs
	options = !debug
	options = !makeflags
	options = !lto
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg4.4
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libevent
	depends = libjpeg
	depends = libpulse
	depends = libvpx
	depends = libwebp
	depends = mime-types
	depends = nss
	depends = nspr
	depends = pango
	depends = ttf-font
	depends = dbus-glib
	depends = dav1d
	depends = aom
	depends = icu
	depends = graphite
	depends = harfbuzz
	makedepends = autoconf2.13
	makedepends = bindgen
	makedepends = cargo
	makedepends = cargo-make
	makedepends = cbindgen
	makedepends = clang
	makedepends = clang-tools-extra
	makedepends = cmake
	makedepends = diffutils
	makedepends = git
	makedepends = git-cinnabar
	makedepends = gtk-doc
	makedepends = imake
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = ninja
	makedepends = nodejs
	makedepends = pkg-config
	makedepends = python
	makedepends = rust
	makedepends = sed
	makedepends = grep
	makedepends = file
	makedepends = unzip
	makedepends = dump_syms
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = yasm
	makedepends = zip
	makedepends = mercurial
	makedepends = tinywl
	optdepends = hunspell-en_US:  Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = onnxruntime:  Local machine learning features
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	optdepends = libdbusmenu-gtk3: Global menu support
	optdepends = profile-sync-daemon: Load browser profile into RAM
	optdepends = kmozillahelper: KDE integration
	provides = firefox=149.0
	conflicts = firefox
	source = https://archive.mozilla.org/pub/firefox/releases/149.0/source/firefox-149.0.source.tar.xz
	source = firefox.desktop
	source = firefox-symbolic.svg
	source = patches/0001-Install-under-remoting-name.patch
	source = patches/0001-enable-vaapi.patch
	source = patches/0002-remove-nvidia-blocklist.patch
	source = patches/0018-bmo-1516081-Disable-watchdog-during-PGO-builds.patch
	source = patches/0024-Add-KDE-integration-to-Firefox.patch
	source = patches/17-feature-improved-send-progress.patch
	source = patches/1864247-fix-performance-in-FindHdr.patch
	source = patches/NNN9-reduce-console-noise-moz.patch
	source = patches/browser-modules-AsyncTabSwitcher.sys.patch
	source = patches/ffmpeg8-fix.patch
	source = patches/profileserver-py.patch
	source = patches/ghostery/0035-Disable-Onboarding-Messages.patch
	source = patches/ghostery/0037-Disable-help-on-switching-to-a-new-device.patch
	source = patches/ghostery/0038-Build-remove-MacOS-entitlements.patch
	source = patches/ghostery/0039-Remove-Firefox-View.patch
	source = patches/ghostery/0040-Disable-experiments-reporting.patch
	source = patches/firedragon/SplitViewCpp.patch
	source = patches/firedragon/UpdateService.sys.mjs.patch
	source = patches/firedragon/allow-JXL-in-non-nightly-browser.patch
	source = patches/firedragon/allow-searchengines-non-esr.patch
	source = patches/firedragon/allow-ubo-private-mode.patch
	source = patches/firedragon/artifacts.py.patch
	source = patches/firedragon/bootstrap.py.patch
	source = patches/firedragon/browser-modules-UrlbarController.sys.patch
	source = patches/firedragon/browser-moz.configure.patch
	source = patches/firedragon/cookie-banner-blocker-preferences.patch
	source = patches/firedragon/custom-ubo-assets-bootstrap-location.patch
	source = patches/firedragon/firefox-view.patch
	source = patches/firedragon/flatpak-autoconf.patch
	source = patches/firedragon/googleBreakpadGitignore.patch
	source = patches/firedragon/handlers.patch
	source = patches/firedragon/hide-passwordmgr.patch
	source = patches/firedragon/matchPattern.patch
	source = patches/firedragon/mozinstall.py.patch
	source = patches/firedragon/nsIUpdateService.idl.patch
	source = patches/firedragon/package-manifest.in.patch
	source = patches/firedragon/remove-cfrprefs.patch
	source = patches/firedragon/remove-organization-policy-banner.patch
	source = patches/firedragon/remove_addons.patch
	source = patches/firedragon/removed-files.in.patch
	source = patches/firedragon/stop-undesired-requests.patch
	source = patches/firedragon/urlbarprovider-interventions.patch
	sha256sums = b861fdee999d9b6404e1e865d6f707c41b4bded1b5ea62affc176288c1484b8a
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = firefox-custom
