pkgname=firefox-custom
_pkgname=firefox
pkgver=156.0
pkgrel=1
source=("https://archive.mozilla.org/pub/firefox/releases/156.0/source/firefox-156.0.source.tar.xz"
  firefox.desktop
  firefox-symbolic.svg)
sha256sums=('SKIP' 'SKIP' 'SKIP')
