pkgbase = filen-desktop
	pkgdesc = Desktop client including Syncing, Virtual Drive, S3, WebDAV, File Browsing, Chats, Notes, Contacts
	pkgver = 3.0.53
	pkgrel = 1
	url = https://filen.io
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = bun
	makedepends = git
	depends = electron34
	depends = nodejs
	depends = fuse3
	provides = filen-desktop
	conflicts = filen-desktop-bin
	conflicts = filen-desktop-git
	source = git+https://github.com/FilenCloudDienste/filen-desktop.git#commit=370514d797d5deee0a1d5002f50c3eca87811809
	sha256sums = 4da94e3caac36c1a8e01f0afb37208cf39add50d5272ad6ceed311b84745a587

pkgname = filen-desktop
