pkgbase = proton-cachyos-slr
pkgver = 10.0.20260420
pkgrel = 1
epoch = 1
pkgdesc = A compatibility tool for Steam Play based on Wine and additional components, experimental branch with extra CachyOS flavour (Steam Linux Runtime build)
url = https://github.com/CachyOS/proton-cachyos
arch = x86_64 x86_64_v3
license = (BSD LGPL zlib MIT MPL custom)
options = (!strip emptydirs)
depends = (bash coreutils curl dbus desktop-file-utils diffutils freetype2 gcc-libs gdk-pixbuf2 glibc hicolor-icon-theme libxcrypt libxcrypt-compat libxkbcommon-x11 lsb-release lsof nss python ttf-font usbutils vulkan-driver vulkan-icd-loader xdg-user-dirs xorg-xrandr xz zenity)
depends_x86_64 = (lib32-alsa-plugins lib32-fontconfig lib32-gcc-libs lib32-glibc lib32-libgl lib32-libgpg-error lib32-libnm lib32-libva lib32-libx11 lib32-libxcrypt lib32-libxcrypt-compat lib32-libxinerama lib32-libxss lib32-nss lib32-pipewire lib32-systemd lib32-vulkan-driver lib32-vulkan-icd-loader)
makedepends = (rsync)
optdepends = (steam umu-launcher)
optdepends += (ntsync-common NTSYNC-MODULE)
provides = (proton)
install = proton-cachyos-slr.install
source = https://github.com/CachyOS/proton-cachyos/releases/download/cachyos-10.0-20260420-slr/proton-cachyos-10.0-20260420-slr-x86_64.tar.xz
source = compatibilitytool.vdf.template
sha256sums = (6065f798e5a133e9a8905fe27cdac28480d84bda60b258f0cb3f80623f0de256)
sha256sums = (6983622dc08784891929b843e8c5bf566c160eb2c23b7fc89c0f4dbabcd5db69)

pkgname = proton-cachyos-slr