name: Dependabot Auto-Merge
on:
  pull_request:
    types: [opened]
  pull_request_target:
    types: [opened]
permissions:
  contents: write
  pull-requests: write
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  dependabot:
    uses: Ven0m0/.github/workflows/dependabot-automerge.yml@main
