name: Build Arch Linux Packages
on:
  workflow_dispatch:
  push:
    paths: ['**/PKGBUILD']
  pull_request:
    paths: ['**/PKGBUILD']
jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      pkgs: ${{steps.set.outputs.pkgs}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: Free disk
      run: |
        sudo rm -rf /usr/local/lib/android /usr/share/dotnet &>/dev/null || :
    - id: set
      run: |
        pkgs=$(find . -type f -name PKGBUILD -printf '%h\n' | sed 's|^\./||' | jq -Rsc 'split("\n")[:-1]')
        echo "pkgs=$pkgs" >>$GITHUB_OUTPUT
  build:
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{fromJSON(needs.matrix.outputs.pkgs)}}
    steps:
    - uses: actions/checkout@v4
    - id: makepkg
      uses: 2m/arch-pkgbuild-builder@v1.16
      with:
        target: pkgbuild
        pkgname: ${{matrix.pkg}}
    - uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.pkg}}
        path: ${{steps.makepkg.outputs.pkgfile0}}
        compression-level: 0
