name: Build Arch Linux Packages
on:
  workflow_dispatch:
  push:
    paths: ['**/PKGBUILD']
  pull_request:
    paths: ['**/PKGBUILD']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions: write-all
env:
  DEBIAN_FRONTEND: noninteractive
  LC_ALL: C
  GITHUB_TOKEN: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      pkgs: ${{steps.set.outputs.pkgs}}
    steps:
    - name: Maximize build space
      uses: AdityaGarg8/remove-unwanted-software@v5
      with:
        remove-android: 'true'
        remove-dotnet: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'
    - name: Free disk
      run: |
        df -h; sudo apt-get autoclean -y; sudo apt-get autoremove --purge -y
        command -v docker &>/dev/null && docker system prune -a -f
        sudo rm -f /var/lib/man-db/auto-update
        sudo rm -rf "/var/lib/apt/lists/"* /opt/ghc /usr/local/.ghcup /usr/local/lib/android /usr/share/dotnet
        echo "force-unsafe-io" | sudo tee -a /etc/dpkg/dpkg.cfg.d/force-unsafe-io
        INITRAMFS_CONF="/etc/initramfs-tools/update-initramfs.conf"; DPKG _TRIGGERS="/var/lib/dpkg/triggers/File"
        [[ -e /etc/initramfs-tools/update-initramfs.conf ]] && sudo sed -i 's/yes/no/g' /etc/initramfs-tools/update-initramfs.conf
        if [[ -e $DPKG_TRIGGERS ]]; then
          sudo sed '/fontconfig/d' -i $DPKG_TRIGGERS; sudo sed '/install-info/d' -i $DPKG_TRIGGERS
          sudo sed '/mime/d' -i $DPKG_TRIGGERS;  sudo sed '/hicolor-icon-theme/d' -i $DPKG_TRIGGERS
        fi
        echo -e "\nFree space:"; df -h
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - id: set
      run: |
        pkgs=$(find . -type f -name PKGBUILD -printf '%h\n' | sed 's|^\./||' | jq -Rsc 'split("\n")[:-1]')
        echo "pkgs=$pkgs" >>$GITHUB_OUTPUT
  build:
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{fromJSON(needs.matrix.outputs.pkgs)}}
    steps:
    - uses: actions/checkout@v5
    - id: makepkg
      uses: 2m/arch-pkgbuild-builder@v1.21
      with:
        target: pkgbuild
        pkgname: ${{matrix.pkg}}
    - uses: actions/upload-artifact@v5
      with:
        name: ${{matrix.pkg}}
        path: ${{steps.makepkg.outputs.pkgfile0}}
        compression-level: 0
