name: Lint
on:
  workflow_dispatch:
  push:
    paths: ['**/PKGBUILD', '**/.SRCINFO']
  pull_request:
    paths: ['**/PKGBUILD', '**/.SRCINFO']
jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      pkgs: ${{steps.set.outputs.pkgs}}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - id: set
      run: |
        pkgs=$(find . -type f -name PKGBUILD -printf '%h\n' | sed 's|^\./||' | jq -Rsc 'split("\n")[:-1]')
        echo "pkgs=$pkgs" >>$GITHUB_OUTPUT
  lint:
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{fromJSON(needs.matrix.outputs.pkgs)}}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: 2m/arch-pkgbuild-builder@v1.21
      with:
        target: srcinfo
        pkgname: ${{matrix.pkg}}

    - name: Validate package
      uses: heyhusen/archlinux-package-action@v2
      with:
        updpkgsums: true
        pkgrel: true
        pkgver: true
        namcap: true
        aur: true
        srcinfo: true
        update_archlinux_keyring: true
        flags: '-si --noconfirm --needed'
