pkgbase = ffmpeg-opt
	pkgdesc = Complete solution to record, convert and stream audio and video - optimized build with enhanced SVT-AV1 support
	pkgver = 8.0.1
	pkgrel = 1
	url = https://ffmpeg.org
	arch = x86_64
	license = GPL-3.0-only
	makedepends = avisynthplus
	makedepends = clang
	makedepends = lld
	makedepends = nasm
	makedepends = git
	makedepends = ladspa
	makedepends = cmake
	makedepends = libgl
	makedepends = mesa
	makedepends = opencl-headers
	makedepends = vulkan-headers
	makedepends = ffnvcodec-headers
	makedepends = lv2
	makedepends = gmp
	makedepends = patch
	depends = alsa-lib
	depends = aribb24
	depends = bzip2
	depends = cairo
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = gmp
	depends = gnutls
	depends = gsm
	depends = harfbuzz
	depends = jack
	depends = lame
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libdrm
	depends = libdvdnav
	depends = libdvdread
	depends = libgl
	depends = libiec61883
	depends = libjpeg-turbo
	depends = libmodplug
	depends = libopenmpt
	depends = libpng
	depends = libpulse
	depends = libraw1394
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libva
	depends = libvdpau
	depends = libwebp
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxv
	depends = ocl-icd
	depends = onevpl
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = sdl2
	depends = snappy
	depends = speex
	depends = v4l-utils
	depends = vapoursynth
	depends = xvidcore
	depends = xz
	depends = zimg
	depends = zlib
	depends = aom
	depends = dav1d
	depends = rav1e
	depends = svt-av1
	depends = libplacebo
	depends = libtheora
	depends = libvorbis
	depends = libvpx
	depends = libxml2
	depends = rubberband
	depends = vid.stab
	depends = vmaf
	depends = x264
	depends = x265
	depends = libjxl
	optdepends = avisynthplus: AviSynthPlus support
	optdepends = frei0r-plugins: Frei0r video effects support
	optdepends = intel-compute-runtime: for Intel OpenCL runtime based tonemapping
	optdepends = intel-media-sdk: Intel QuickSync support (legacy)
	optdepends = onevpl-intel-gpu: for Intel Quick Sync Video (Alder Lake and newer)
	optdepends = ladspa: LADSPA filters
	optdepends = nvidia-utils: Nvidia NVDEC/NVENC support
	optdepends = vulkan-intel: for Intel ANV Vulkan support
	provides = ffmpeg=8.0.1
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libswresample.so
	provides = libswscale.so
	conflicts = ffmpeg
	options = strip
	source = https://ffmpeg.org/releases/ffmpeg-8.0.1.tar.xz
	sha256sums = 05ee0b03119b45c0bdb4df654b96802e909e0a752f72e4fe3794f487229e5a41

pkgname = ffmpeg-opt
